
*{
    margin: 0px;
    border: 0px;padding: 0px;
    box-sizing: border-box;
  }
  .contenedor{
    margin: 0px;
  width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/img/fondo_azul_login.jpeg'); /* Ruta a tu imagen */
  background-size: cover; /* Ajusta la imagen para cubrir todo el div */
  background-repeat: no-repeat; /* No repetir la imagen */
  background-position: center center; /* Centra la imagen */
  background-attachment: fixed; /* La imagen de fondo se fija en su posición */
  }
form {
border: 5px solid rgb(255, 255, 255);
border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5); ;
width: 500px;
height: 500px;
display: flex;
flex-direction: column;
justify-content:space-evenly;
align-items:center;

  
}
form h2{
  font-size: 50px;
  color: rgb(255, 255, 255);
}
.contenedor form div{
   width: 100%;
   display: flex;
   justify-content: center;
}
.contenedor form div .input{
  background: transparent;
  border: transparent;
  padding: 5px;
width: 80%;
  border-bottom: 4px solid rgb(255, 255, 255);
  outline: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  
}
.contenedor form div .input:active{
 outline: none;
 border: none;
  outline: none;
}
.contenedor form div input::placeholder{
  color: rgb(255, 255, 255);
  font-size: 15px;
  
}
.contenedor form div .input:focus{
 outline: none;
}

input[type="submit"]{
  width: 80%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: background-color 0.5s;
  font-size: 20px;
  font-weight: bolder;
}
input[type="submit"]:hover{
background-color: rgb(51, 247, 68);
cursor: pointer;
}