



<div class="contenedor">

    <form  [formGroup]="profileForm"
    (ngSubmit)="validar_usuario()">
  
      <h2>Login</h2>
      <div>
        <input formControlName="username" class="input" autocomplete="off"  type="text" placeholder="Email">
      </div>
      <div>
        <input formControlName="password" class="input" type="password" autocomplete="off" placeholder="Password">
      </div>
      <div>
      
      </div>
<input type="submit" name="" id="">
  
    </form>
  
  </div>
  
  