
    



    

<section class="flex w-full min-h-screen">
  <main class="absolute h-full z-10 w-80 bg-bluenav pl-2 py-3 menu ocultar rounded-r-lg shadow-lg">
    <nav>
      <ul class="text-white flex flex-col items-start px-4 space-y-3">
        <!-- Elemento de navegación: En proceso -->
        <li
          class="w-full duration-150 hover:rounded-xl pl-2 py-2 flex items-center hover:bg-white hover:text-bluenav transition-colors">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="h-6 w-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 12L11.204 3.045c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>
          <a routerLink="/con_opcion" class="font-semibold">Estudiantes con Opción de Grado</a>
        </li>
  
        <!-- Elemento de navegación: Usuario sin proceso -->
        <li
          class="w-full duration-150 hover:rounded-xl pl-2 py-2 flex items-center hover:bg-white hover:text-bluenav transition-colors">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="h-6 w-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 12L11.204 3.045c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>
          <a routerLink="/sin_proceso" class="font-semibold">Estudiantes sin Opción de Grado</a>
        </li>
  
        <!-- Elemento de navegación: Docente -->
        <li
          class="w-full duration-150 hover:rounded-xl pl-2 py-2 flex items-center hover:bg-white hover:text-bluenav transition-colors">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="h-6 w-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 12L11.204 3.045c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>
          <a routerLink="/load_file" class="font-semibold">Cargar Archivos</a>
        </li>
      </ul>
    </nav>
  </main>
  
  <button id="menu" class="toggle-button absolute top-0 left-0 z-20 px-2 py-1 bg-bluenav text-white rounded-md shadow-lg"
    (click)="toggleMenu()">☰</button>
  
  <aside class="w-full px-1 pt-2">
    <!-- Título de la sección -->
    <div class="text-center mb-4">
      <h2 class="text-2xl font-bold text-blue-600">Estudiantes Sin Opción de Grado Definida</h2>
      <p class="text-gray-600">Aquí puedes gestionar y actualizar la información de los estudiantes que aún no han definido su opción de grado.</p>
    </div>
  
    <!-- Tabla de estudiantes -->
    <table id="example" class="table table-hover table-striped table-bordered text-center align-middle" style="width:100%">
      <thead class="thead-dark">
        <tr>
          <th>Pasantía</th>
          <th>Código</th>
          <th>Créditos</th>
          <th>Nombre</th>
          <th>Número Documento</th>
          <th>Semestre</th>
          <th>Solicitudes SIS</th>
        </tr>
      </thead>
      <tbody>
        <!-- Los datos serán cargados automáticamente por DataTables -->
      </tbody>
    </table>
   
  
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="staticBackdropLabel">Información del Usuario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onSubmitt()" autocomplete="off">
              <!-- Número de Documento -->
              <div class="mb-3">
                <label for="numero_documento" class="form-label">Número de Documento</label>
                <input type="text" id="numero_documento" class="form-control" [(ngModel)]="datosUsuario.numero_documento" name="numero_documento" autocomplete="off" />
              </div>
              
              <!-- Nombre Completo -->
              <div class="mb-3">
                <label for="nombre_completo" class="form-label">Nombre Completo</label>
                <input type="text" id="nombre_completo" class="form-control" [(ngModel)]="datosUsuario.nombre_completo" name="nombre_completo" autocomplete="off" />
              </div>
              
              <!-- Código y Estado -->
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="codigo" class="form-label">Código</label>
                  <input type="text" id="codigo" class="form-control" [(ngModel)]="datosUsuario.codigo" name="codigo" autocomplete="off" />
                </div>
                <div class="col-md-6">
                  <label for="estado" class="form-label">Estado</label>
                  <input type="text" id="estado" class="form-control" [(ngModel)]="datosUsuario.estado" name="estado" autocomplete="off" />
                </div>
              </div>
              
              <!-- Tipo de Documento y Créditos -->
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="tipo_documento" class="form-label">Tipo de Documento</label>
                  <select id="tipo_documento" class="form-select" [(ngModel)]="datosUsuario.tipo_documento" name="tipo_documento" autocomplete="off">
                    <option *ngFor="let tipo of tiposDocumento" [value]="tipo.id">{{ tipo.descripcion }}</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="creditos" class="form-label">Créditos</label>
                  <input type="text" id="creditos" class="form-control" [(ngModel)]="datosUsuario.creditos" name="creditos" autocomplete="off" />
                </div>
              </div>
    
              <!-- Estado Descripción y Solicitudes SIS -->
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="estado_descripcion" class="form-label">Estado Descripción</label>
                  <select id="estado_descripcion" class="form-select" [(ngModel)]="datosUsuario.estado_descripcion" name="estado_descripcion" autocomplete="off">
                    <option *ngFor="let estado of estados" [value]="estado.id">{{ estado.descripcion }}</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="solicitudes_sis" class="form-label">Solicitudes SIS</label>
                  <input type="text" id="solicitudes_sis" class="form-control" [(ngModel)]="datosUsuario.solicitudes_sis" name="solicitudes_sis" autocomplete="off" />
                </div>
              </div>
              
              <!-- Opción de Grado -->
              <div class="mb-3">
                <label for="opcion_grado" class="form-label">Opción de Grado</label>
                <select id="opcion_grado" class="form-select" [(ngModel)]="datosUsuario.opcion_grado" name="opcion_grado" autocomplete="off">
                  <option *ngFor="let opcion of opcionesGrado" [value]="opcion.id">{{ opcion.descripcion }}</option>
                </select>
              </div>
              
              <!-- Botones -->
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Enviar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="fijo w-full flex justify-end pr-5">
      <button class="" [disabled]="disable_prev" (click)="prev()" class="bg-bluenav px-2 py-2 rounded-l-lg  outline outline-offset-0 outline-2 ..." >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
        
      </button>
      <button  [disabled]="disable_next" (click)="next()" class="bg-bluenav px-2 py-2 rounded-r-lg  outline outline-offset-0 outline-2 ...">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
        
      </button>
    </div>
  
 
     
  </aside>
   
 
  </section>
